/*body {
	background-image: url("background.jpg");
	background-size: cover;
	background-attachment: fixed;
}*/

#main {
	margin: auto;
	padding: 30px;
	text-align: center;
}

#img {
	z-index: -1;
}

div {
	margin: 0px;
	padding: 0px;
}