/*body {
	background-image: url("background.jpg");
	background-size: cover;
	background-attachment: fixed;
}*/

#main {
	margin: auto;
	padding: 0px;
	width: 698px;
	height: 470px;
	background-image: url("image.jpg");
	background-size: contain;
	border: 1px solid black;
}
